.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 30px;
    border-bottom: 1px solid #000;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    padding-left: 100px; 
    font: normal 12px / 24px "Open Sans", arial;
  }
  
  .App-logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .header-right {
    padding-right: 100px;
  }
  
  .header-right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-right li {
    margin-left: 20px;
  }
  
  .header-right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font:400 20px/24px "Open Sans", arial;
  }
  
  .header-right a:hover {
    color: #86BC25;
    text-decoration: none;
  }  